.root {
  text-align: center;
}

.player {
  display: block;
  padding: 1rem;
  min-height: 25rem;
  min-width: 12rem;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.1);
}

.player__name {
  font-size: 2rem;
  font-weight: bold;
}

.player__steamId {
  font-size: 1.6rem;
  font-style: italic;
}