$brand: (
  main--normal: hsl(290, 70%, 35%),
  main--light: hsl(290, 30%, 70%),
);

$bg: (
  normal: hsl(0, 0%, 13%),
  light: hsl(0, 0%, 19%),
);
  
$border: (
  light: hsl(0, 0%, 27%),
);

$success: (
  normal: hsl(120, 30%, 40%),
  light: hsl(120, 30%, 70%),
  strong: hsl(120, 30%, 20%),
);

$error: (
  normal: hsl(0, 50%, 50%),
  light: hsl(0, 50%, 70%),
  strong: hsl(0, 50%, 30%),
);